# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so
.ruff_cache

# Virtual environment
venv/
.env

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
.pytest_cache/
nosetests.xml
coverage.xml
*.cover
.hypothesis/
pytestdebug.log